<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Gestion_soutenance"
        tools:targetApi="31">
        <activity
            android:name=".DetailSoutenanceActivity"
            android:exported="false" />
        <activity
            android:name=".ListeSoutenanceActivity"
            android:exported="false" />
        <activity
            android:name=".GestionJuryActivity"
            android:exported="false" />
        <activity
            android:name=".ResultatActivity"
            android:exported="false"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".AjoutSoutenanceActivity"
            android:exported="false"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".SignInActivity"
            android:exported="false"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".DetailSpecialiteActivity"
            android:exported="false"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ListeSpecialiteActivity"
            android:exported="false"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".AjoutSpecialiteActivity"
            android:exported="false"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".DetailJuryActivity"
            android:exported="false"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ListeJuryActivity"
            android:exported="false"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".AjoutJuryActivity"
            android:exported="false"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".JuryActivity"
            android:exported="false"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".DetailDepartementActivity"
            android:exported="false"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ListeDepartementActivity"
            android:exported="false"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".AjoutDepartementActivity"
            android:exported="false"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".SpecialiteActivity"
            android:exported="false"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".DepartementActivity"
            android:exported="false"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".GestionAdminActivity"
            android:exported="false" />
        <activity
            android:name=".GestionUserActivity"
            android:exported="false" />
        <activity
            android:name=".SignUpActivity"
            android:exported="false"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>